<div class="container">
  <h1>Log your life</h1>
  <h2>With inane detail and poor grammar!</h2>


 
    <a href="/create"> <input class="button" type="submit" value="Create new post"></a>
    <a href="/view_all"><input class="button" type="submit" value="View all posts"></a> 
    
    <br><br>
    TD: edit a post <br>
    TD: delete post <br>
  
    <div class="tag_search"> 
      <form action='/tag'  method="post">   
        <h3>Show me all the posts tagged with...</h3>
        <select name="tagname">
          <% Tag.order("updated_at DESC").each do |tag| %>
          <option><%= tag.name %></option>
          <% end %>
        </select>
        <input class="button" type="submit" value="Search">
      </form>
    <div>

</div>

